.pos .pos-topheader {
    background: #065195;
}

.pos .pos-logo {
    height: 100%;
    margin-left: 10px;
    margin-right: auto;
    align-self: center;
}


.pos .product-list-container {

    background: #f7f7f7;

}

.pos .rightpane {

    background: #fdfdfd;
}

.pos .order {
    background: rgb(1, 2, 65);
    color: white;
    max-width: 100%;

}


.pos .order .orderline .info-list {
    color: white;
}

.pos .order .orderline .info-list em {
    color: white;

}

// .pos .button.validation {

//     background: #DF493A;
// }
.pos .leftpane {
    max-width: 40%;
}




.favorite-product-screen {
    background-color: #011801 !important;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;


    .screen-header {
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .large-buttons {
            display: flex;

            button {
                width: 150px;
                height: 100px;
                font-size: medium;
                margin-right: 10px;
                font-weight: bold;

                &.red {
                    background-color: red;
                    color: white;
                }

                &.orange {
                    background-color: orange;
                    color: white;
                }

                &.blue {
                    background-color: blue;
                    color: white;
                }
            }
        }
    }

    .favorite-content {
        display: flex;
        height: 100%;
        overflow: hidden;
    }

    .left-pane {
        flex: 1 1 70%;
        overflow: auto;
        padding: 10px;

        .favorite-list {
            width: 100%;
            background-color: white;
            color: black;

            tr,
            td,
            th {
                padding: 10px;
            }

            tr {
                border: 1px solid #eee;
                cursor: pointer;

                &:nth-child(even) {
                    background-color: #ccc;
                }

                &:hover {
                    background-color: #017e84;
                    color: white;
                }
            }
        }
    }

    .right-pane {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #333;

        .selected-product {
            padding: 10px;
        }

        .pads {
            margin-top: auto;

            .subpads {
                display: flex;
            }
        }


    }
}

// .pos .leftpane {
//     max-width: 1500px;
//     order:2

// }

// .pos .righttpane {
//     order:1

// }