.pos .pos-topheader {
    background: #065195;
}

.pos .pos-logo {
    height: 100%;
    margin-left: 10px;
    margin-right: auto;
    align-self: center;
}


.pos .product-list-container {

    background: #f7f7f7;

}

.pos .rightpane {

    background: #fdfdfd;
}

.pos .order {
    background: rgb(1, 2, 65);
    color: white;
    max-width: 100%;

}


.pos .order .orderline .info-list {
    color: white;
}

.pos .order .orderline .info-list em {
    color: white;

}

// .pos .button.validation {

//     background: #DF493A;
// }
.pos .leftpane {
    max-width: 40%;
}